extends ./layouts/navbar-view
block content


		div.top-profile
			div.cover
				- var checkC = user.cover ? user.cover : 'images/autumn.jpg'
				img(src=`/${checkC}`).bg-cover
				button#plus1
					i.fas.fa-plus.fa-spin
				form(action=`/user/${user._id}/cover`, method= "POST", enctype="multipart/form-data")
					.form-group.edit-cover
						input#cover.form-control-file(name="cover", type="file")
						button.btn-save#btn1
							i.fas.fa-check


			div.avt-profile-d
				- var checkAv = user.avatar ? user.avatar : 'images/killer.png'
				img(src=`/${checkAv}`, width= "200px").avt-profile
				button#plus2
					i.fas.fa-plus.fa-spin
				form(action=`/user/${user._id}/avatar`, method= "POST", enctype="multipart/form-data")
					.form-group.edit-avatar
						input#avatar.form-control-file(name="avatar", type="file")
						button.btn-save#btnA
							i.fas.fa-check
				div.name-profile 
					h1=user.name 
						span
							- var checkX = user.xname ? user.xname : '.....'
							h6.pl-5#cc=`(${checkX})`
								button.ml-4#edit1 
									b Edit
							form(action=`/user/${user._id}/x1`, method= "POST") 
								.form-group.x1
									input#xname.form-control(name="xname", type="text" placeholder="Biệt danh" required)
									button.btn-save#btn2
										i.fas.fa-check

				div.his
					- var checkH = user.his ? user.his : '....'
					p.pl-5#vv=`${checkH}`
						button.ml-4#edit2
							b Edit
					form(action=`/user/${user._id}/x2`, method= "POST")
						.form-group.x2
							input#his.form-control(name="his", type="text" placeholder="Tiểu sử" required)
							button.btn-save#btn3
								i.fas.fa-check

		section.section-quote

			if errors 
				each error in errors
					.alert.alert-danger= error


			form#quote-init(action=`/user/${user._id}/init`, method= "POST" class=`quote ${case1}`)
				img.left-scene.l-s(src='/images/hzz (1).png', alt='Left scene')
				img.right-scene.r-s(src='/images/tree1.png', alt='Right scene')
				h3 Profile
				p You only live once!
				.input-list.list-profile
					div.contain-form
						label(for="name") Your Name:
						input.input.input1(type='text', name='name', value=user.name disabled)
						a(href="javascript:void(0)")
							i.fas.fa-edit
					div.contain-form
						- var checkDis1= user.date ? disabled : ''
						- var checkDate= user.date ? '' : 'Add your date of birth' 
						label(for="date") Your date of birth:
						input.input.input2(type='text', name='date', pattern="[0-9]+", minlength="4", maxlength="8" placeholder=`${checkDate}`, value=user.date ${checkDis1})
						a(href="javascript:void(0)")
							i.fas.fa-edit
					div.contain-form
						- var checkDis2= user.address ? 'disabled' : ''
						- var checkAdd= '' ? user.address : 'Add your address'
						label(for="address") Your address:
						input.input.input3(type='text', name='address', placeholder=`${checkAdd}`, value=user.address ${checkDis2})
						a(href="javascript:void(0)")
							i.fas.fa-edit
					div.contain-form
						- var checkDis3= user.uni ? 'disabled' : ''
						- var checkUni= user.uni ? '' : 'Add your university'
						label(for="uni") Your university:
						input.input.input4(type='text', name='uni', placeholder=`${checkUni}`, value=user.uni ${checkDis3})
						a(href="javascript:void(0)")
							i.fas.fa-edit
					div.contain-form
						label(for="email") Email:
						input.input.input5(type='text', name='email', value=user.email disabled)
					div.contain-form
						label(for="phone") Phone:
						input.input.input6(type='text', name='phone number', value=user.phone disabled)
						a(href="javascript:void(0)")
							i.fas.fa-edit
					div.contain-form
						label(for="update") Created at:
						input.input.input7(type='text', name='update', value=create disabled)
				- var checkBtn= (user.name&& user.date && user.address && user.uni && user.email && user.phone) ? 'd-none' : ''
				button(class=`btn-request ${checkBtn}` type='submit', name='button') Save
			form#quote-edit(action=`/user/${user._id}/profile`, method= "POST" class=`quote ${case2}`)
				img.left-scene.l-s(src='/images/z5.png', alt='Left scene')
				img.right-scene.r-s(src='/images/tree1.png', alt='Right scene')
				h3 Edit Profile
				p You only live once!
				.input-list.list-profile
					div.contain-form
						label(for="newName") Your Name:
						input.input.input1(type='text', name='newName', value=user.name )
					div.contain-form
						label(for="ndate") Your date of birth:
						input.input.input2(type='text', name='ndate', value=user.date required)
					div.contain-form
						label(for="naddress") Your address:
						input.input.input3(type='text', name='naddress', value=user.address required)
					div.contain-form
						label(for="nuni") Your university:
						input.input.input4(type='text', name='nuni', value=user.uni required)
					div.contain-form
						label(for="email") Email:
						input.input.input5(type='text', name='email', value=user.email disabled)
					div.contain-form
						label(for="nphone") Phone:
						input.input.input6(type='number', name='nphone', value=user.phone required minlength="10", maxlength="11")
					div.contain-form
						label(for="update") Created at:
						input.input.input7(type='text', name='update', value=create disabled)
					button.btn-request#btn-change(type='submit', name='button') Save change